
.flex {
    display: flex;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-tap-around {
    align-content: space-around;
}

.flex-tap-around a {
    margin: 5px;
}

.chip-purple {
    color: #fff;
    background-color: #6a1b9a;
    border-radius: 3px;
    border: 1px solid #000000;
}

.img-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    height: 10%;
    width: 30%;
}

.img-input img {
    width: 20%;
    height: 20%;
    gap: 10px;
}
.img-input input {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #000;
  }


.header-container {
    display: flex;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.line-div {
    height: 50%;
    border-right: 1px solid #000;
}

.text-center {
    text-align: center;
}
.a-gap {
    margin: 5px;
}

.logo-gap {
    margin: 20px;
    border: 1px solid #000;
}
.form-center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-center input {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #7c4fac;
}

.margin-div {
    width: 80%;
    margin: 0 auto;
}

.h2-gap {
    padding: 20px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}
img {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.career-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}