.Header {
    display: flex;
    justify-content: space-around;
}

.Nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Date {
    font-size: 1.5rem;
    color: #69d3d3;
}

.Header .nav-tap {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 3px;
}